In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
df=pd.read_csv(r"C:\Users\HP\Desktop\INTERNSHIP_MTECH\train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df2=df[["KitchenQual","BldgType"]]

In [5]:
le=LabelEncoder()

In [7]:
le.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [8]:
df2["BldgType_L_enc"]=le.fit_transform(df2["BldgType"])
df2

C:\Users\HP\AppData\Local\Temp\ipykernel_2720\2050253184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["BldgType_L_enc"]=le.fit_transform(df2["BldgType"])

     KitchenQual BldgType  BldgType_L_enc
0             Gd     1Fam               0
1             TA     1Fam               0
2             Gd     1Fam               0
3             Gd     1Fam               0
4             Gd     1Fam               0
...          ...      ...             ...
1455          TA     1Fam               0
1456          TA     1Fam               0
1457          Gd     1Fam               0
1458          Gd     1Fam               0
1459          TA     1Fam               0

[1460 rows x 3 columns]

In [9]:
df["BldgType"].value_counts()

BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64

In [13]:
df["KitchenQual"].value_counts()

KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64

In [14]:
order_label={"Ex":4,"Gd":3,"TA":2,"Fa":1}

In [16]:
df2["KitchenQual_org_enc"]=df2["KitchenQual"].map(order_label)

C:\Users\HP\AppData\Local\Temp\ipykernel_2720\1317218755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["KitchenQual_org_enc"]=df2["KitchenQual"].map(order_label)

In [17]:
df2

     KitchenQual BldgType  BldgType_L_enc  KitchenQual_org_enc
0             Gd     1Fam               0                    3
1             TA     1Fam               0                    2
2             Gd     1Fam               0                    3
3             Gd     1Fam               0                    3
4             Gd     1Fam               0                    3
...          ...      ...             ...                  ...
1455          TA     1Fam               0                    2
1456          TA     1Fam               0                    2
1457          Gd     1Fam               0                    3
1458          Gd     1Fam               0                    3
1459          TA     1Fam               0                    2

[1460 rows x 4 columns]