In [1]:
import pandas as pd

In [2]:
tips_df=pd.read_csv(r"C:\Users\HP\Desktop\INTERNSHIP_MTECH\\tips.csv")
tips_df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [3]:
dummy_df=pd.get_dummies(tips_df)
dummy_df

,total_bill,tip,size,price_per_person,CC Number,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,...,Payment ID_Thur9003,Payment ID_Thur9005,Payment ID_Thur9313,Payment ID_Thur9318,Payment ID_Thur9331,Payment ID_Thur9424,Payment ID_Thur9501,Payment ID_Thur9593,Payment ID_Thur967,Payment ID_Thur9862
0,16.99,1.01,2,8.49,3560325168603410,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,10.34,1.66,3,3.45,4478071379779230,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,21.01,3.50,3,7.00,6011812112971322,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,23.68,3.31,2,11.84,4676137647685994,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,24.59,3.61,4,6.15,4832732618637221,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,9.68,5296068606052842,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
240,27.18,2.00,2,13.59,3506806155565404,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
241,22.67,2.00,2,11.34,6011891618747196,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
242,17.82,1.75,2,8.91,4375220550950,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
243,18.78,3.00,2,9.39,3511451626698139,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
dummy_df=pd.get_dummies(tips_df,drop_first=True)

In [5]:
dummy_df

,total_bill,tip,size,price_per_person,CC Number,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur,...,Payment ID_Thur9003,Payment ID_Thur9005,Payment ID_Thur9313,Payment ID_Thur9318,Payment ID_Thur9331,Payment ID_Thur9424,Payment ID_Thur9501,Payment ID_Thur9593,Payment ID_Thur967,Payment ID_Thur9862
0,16.99,1.01,2,8.49,3560325168603410,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,10.34,1.66,3,3.45,4478071379779230,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,21.01,3.50,3,7.00,6011812112971322,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,23.68,3.31,2,11.84,4676137647685994,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,24.59,3.61,4,6.15,4832732618637221,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,9.68,5296068606052842,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
240,27.18,2.00,2,13.59,3506806155565404,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
241,22.67,2.00,2,11.34,6011891618747196,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
242,17.82,1.75,2,8.91,4375220550950,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
243,18.78,3.00,2,9.39,3511451626698139,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
oh_enc = OneHotEncoder(sparse_output=False)
oh_enc_arr = oh_enc.fit_transform(tips_df[['sex','smoker','day','time',]])
oh_enc_arr

array([[1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.]])

In [11]:
dummy_df.keys()

Index(['total_bill', 'tip', 'size', 'price_per_person', 'CC Number',
       'sex_Male', 'smoker_Yes', 'day_Sat', 'day_Sun', 'day_Thur',
       ...
       'Payment ID_Thur9003', 'Payment ID_Thur9005', 'Payment ID_Thur9313',
       'Payment ID_Thur9318', 'Payment ID_Thur9331', 'Payment ID_Thur9424',
       'Payment ID_Thur9501', 'Payment ID_Thur9593', 'Payment ID_Thur967',
       'Payment ID_Thur9862'],
      dtype='object', length=496)

In [15]:
oh_enc_df = pd.DataFrame(oh_enc_arr,columns=['total_bill', 'tip', 'size', 'price_per_person', 'CC Number',
       'sex_Male', 'smoker_Yes', 'day_Sat', 'day_Sun', 'day_Thur'])
oh_enc_df

,total_bill,tip,size,price_per_person,CC Number,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
239,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0